/*

$colors: (
    back_color_main: #fff,
    back_color_second: #faf9ff,
    color_title: #222222,
    color_text: #777777,
    color_link: #edc587,
    back_color_graduation1: rgb(255, 229, 153),
    back_color_graduation2: #cbcbcb,
    back_color_footer: black,
    border_color: rgb(185, 184, 184)
);


@mixin flex_center_center{
    display: flex;
    justify-content: center;
    align-items: center;
}

*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

header {
  position: relative;
  height: 100px;
  background: #999999;
  padding-bottom: 6px;
}

header::after {
  content: "";
  height: 6px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ed8034+0,ed8034+33,feb123+33,feb123+66,2184cd+66,2184cd+100 */
  background: aqua;
  /* Old browsers */
  background: -moz-linear-gradient(left, aqua 0%, aqua 25%, yellow 25%, yellow 50%, lime 50%, lime 75%, fuchsia 75%, fuchsia 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, aqua 0%, aqua 25%, yellow 25%, yellow 50%, lime 50%, lime 75%, fuchsia 75%, fuchsia 100%);
  /* FF3.6-15 */
  background: linear-gradient(left, aqua 0%, aqua 25%, yellow 25%, yellow 50%, lime 50%, lime 75%, fuchsia 75%, fuchsia 100%);
  /* FF3.6-15 */
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 100px;
  max-width: 1140px;
  text-align: center;
  color: white;
  font-family: "Goldman", cursive;
}

.divH1 {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 2rem;
    text-align: left;
  }
}
main {
  flex: 1 0 auto;
}

h2, p {
  color: white;
  font-family: "Goldman", cursive;
}

h2 {
  margin-bottom: 1.5rem;
}

.divExplanations {
  max-width: 1140px;
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  text-align: justify;
}

.message {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.messageDone {
  background-color: white;
  width: 10rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
}

.hidden {
  display: none;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.buttonOneColor {
  width: 2rem;
  height: 2rem;
  margin-right: 2rem;
}

.maree {
  background-color: #3a3a3a;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  width: 80%;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 0 2px #000, 0 0 0 3px #999, 0 0 0 16px #a8a8a8, 0 0 0 10px #666, 0 0 0 16px #e4e4e4, 0 0 0 18px #000;
}

.divOneColor {
  margin: 0.1rem;
}

.divOneColor:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.firstColor {
  background-color: aqua;
}

.secondColor {
  background-color: lime;
}

.thirdColor {
  background-color: yellow;
}

.fourthColor {
  background-color: fuchsia;
}

@media only screen and (min-width: 768px) {
  .divExplanations {
    margin-left: auto;
    margin-right: auto;
  }

  .divOneColor {
    margin: 0.1rem;
  }

  .maree {
    width: 24rem;
  }
}
footer {
  height: 7rem;
  background: #999999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

i {
  font-size: 1.5rem;
  color: white;
}

.fMainDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.fListIcons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.fDivOneIcon {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.iIconGit:hover {
  color: aqua;
}

.iIconLn:hover {
  color: lime;
}

.iIconInst:hover {
  color: fuchsia;
}

.fParagraph {
  text-align: center;
}

html {
  font-size: 17px;
}

html, body {
  height: 100%;
}

body {
  background-color: #3a3a3a;
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=screen.css.map */
