main{
    flex: 1 0 auto;
}

h2, p{
    
    color: map-get($colors, color_text_main);
    font-family: 'Goldman', cursive;
}

h2{
    margin-bottom: 1.5rem;
}

.divExplanations{
    max-width: 1140px;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    text-align: justify;
}

.message{

    position: absolute;
    z-index: 10;
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.messageDone{
    background-color: white;
    width: 10rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
}

.hidden{
    display: none;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.buttonOneColor{
    width: 2rem;
    height: 2rem; 
    margin-right: 2rem;
}

.maree{
    background-color: map-get($colors, background_color_body);
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    width: 80%;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 
	0 0 0 2px #000,
	0 0 0 3px #999,
	0 0 0 16px rgb(168, 168, 168),
	0 0 0 10px #666,
	0 0 0 16px rgb(228, 228, 228),
	0 0 0 18px #000;
}

.divOneColor{


    margin: 0.1rem;
}

.divOneColor:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.firstColor{
    background-color: map-get($colors, color_maree_1);
}

.secondColor{
    background-color: map-get($colors, color_maree_2);
}

.thirdColor{
    background-color: map-get($colors, color_maree_3);
}

.fourthColor{
    background-color:  map-get($colors, color_maree_4);
}

@media only screen and (min-width: 768px){

    .divExplanations{

        margin-left: auto;
        margin-right: auto;

    }

    .divOneColor{

        margin: 0.1rem;
    }

    .maree{
        width: map-get($sizes, width_computer);
    }

    
}