html{
    font-size: 17px;
    font-family: map-get($polices, font_family);
}

html, body {
    height: 100%;
  }

body{
    background-color: map-get($colors, background_color_body);
    display: flex;
    flex-direction: column;
}