$colors: (
    background_color_body: rgb(58, 58, 58),
    color_text_main: white,
    background_color_grid: black,
    color_maree_1:	rgb(0,135,255),
    color_maree_2: rgb(0, 255, 0),
    color_maree_3: rgb(255, 255, 0),
    color_maree_4: rgb(255, 0, 255),
    background_color_header: #999999
);

$sizes: (
    width_computer: 24rem,

)